@import "base/_variables.scss";
@import "base/_mixins.scss";

/*==================================
FONTS
==================================*/

/*=== GT Bold ===*/

@font-face {
    font-family: 'gt_bold';
    src: url('../fonts/gt-bold/GT-Walsheim-Bold.eot');
    src: url('../fonts/gt-bold/GT-Walsheim-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gt-bold/GT-Walsheim-Bold.woff') format('woff'),
         url('../fonts/gt-bold/GT-Walsheim-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt_bold_oblique';
    src: url('../fonts/gt-bold/GT-Walsheim-Bold-Oblique.eot');
    src: url('../fonts/gt-bold/GT-Walsheim-Bold-Oblique.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gt-bold/GT-Walsheim-Bold-Oblique.woff') format('woff'),
         url('../fonts/gt-bold/GT-Walsheim-Bold-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*=== GT Medium ===*/

@font-face {
    font-family: 'gt_medium';
    src: url('../fonts/gt-medium/GT-Walsheim-Medium.eot');
    src: url('../fonts/gt-medium/GT-Walsheim-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gt-medium/GT-Walsheim-Medium.woff') format('woff'),
         url('../fonts/gt-medium/GT-Walsheim-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt_medium_oblique';
    src: url('../fonts/gt-medium/GT-Walsheim-Medium-Oblique.eot');
    src: url('../fonts/gt-medium/GT-Walsheim-Medium-Oblique.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gt-medium/GT-Walsheim-Medium-Oblique.woff') format('woff'),
         url('../fonts/gt-medium/GT-Walsheim-Medium-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*=== GT Light ===*/

@font-face {
    font-family: 'gt_light';
    src: url('../fonts/gt-light/GT-Walsheim-Light.eot');
    src: url('../fonts/gt-light/GT-Walsheim-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gt-light/GT-Walsheim-Light.woff') format('woff'),
         url('../fonts/gt-light/GT-Walsheim-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt_light_oblique';
    src: url('../fonts/gt-light/GT-Walsheim-Light-Oblique.eot');
    src: url('../fonts/gt-light/GT-Walsheim-Light-Oblique.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gt-light/GT-Walsheim-Light-Oblique.woff') format('woff'),
         url('../fonts/gt-light/GT-Walsheim-Light-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*==================================
FONT STYLING
==================================*/

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, p {
	font-family: 'gt_light', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-weight: 300;
}

h1, h2 {
    font-family: 'gt_medium', sans-serif;
}

p {
	font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px 0px 20px;
    color: $blue;
    font-weight: 400;
    font-family: 'gt_medium', sans-serif;

    @include mobile_landscape {
        font-size: 12px;
        line-height: 24px;
    }
}

h1 {
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
}

h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: $blue;
    font-family: 'gt_medium', sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;

    @include mobile_landscape {
        font-size: 20px;
        line-height: 30px;
    }
}

h3 {
    font-size: 18px;
    margin: 0 0 60px;
    letter-spacing: .2em;
    font-family: 'gt_medium', sans-serif;
	text-transform: uppercase;

    @include mobile_landscape {
        font-size: 16px;
        margin: 0 0 30px;
    }
}

a {
    text-decoration: none;
    color: $blue;
    transition: color .3s ease-in-out;
}

strong, b {
    font-family: 'gt_bold', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

/*==================================
OVERALL
==================================*/

body {
    background: $white;
}

/*==================================
HELPERS
==================================*/

/*=== Colors ===*/

.blue {
    color: $blue;
}

.orange {
    color: $lineup_orange;
}

.lightblue {
    color: $lineup_lightblue;
}

.teal {
    color: $teal;
}

/*==================================
COMPONENTS  
==================================*/

/*=== Icons ===*/

.close_icon {
    position: relative;
    cursor: pointer;
}

.close_icon:before {
    content: "\00d7";
    font-size: 35px;
    color: $white;
    line-height: 13px;
    font-weight: 300;
}

/*==================================
MAIN HEADER
==================================*/

.main_header {
    position: fixed;
    width: 100%;
    padding: 30px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    transition: all .3s ease-in-out;

    @include tablet {
        display: none;
    }
}

.main_header a {
    color: $white;

    &:hover {
        color: $blue;
    }
}

.main_header.scrolled {
    background: rgba($lightblue, 1);
    padding: 15px 30px;
}

.main_header.scrolled  a {
    color: $blue;
}

// Navigation

ul.main_navigation {
    font-family: 'gt_light', sans-serif;
    display: flex;
    align-items: center;
    letter-spacing: .1em;
}

ul.main_navigation li {
    display: inline-block;
    text-transform: uppercase;
    padding-right: 30px;
    font-size: 13px;
    letter-spacing: .2em;
    font-weight: 700;
}

ul.main_navigation a {
    &.active {
        text-decoration: underline;
    }
}

// Social Icons

ul.social_icons {
    list-style: none;
}

ul.social_icons li {
    display: inline-block;
    margin-right: 30px;
    font-size: 16px;

    &:last-child {
        margin-right: 0;
    }
}

/*==================================
MOBILE HEADER
==================================*/

.mobile_header {
    position: fixed;
    display: none;
    width: 100%;
    background: $lightblue;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    z-index: 9;

    @include tablet {
        display: flex;
    }

}

/*=== CSS Menu Icon ===*/

.menu_icon {
    position: relative;
    border-top: 2px solid $blue;
    border-bottom: 2px solid $blue;
    height: 14px;
    width: 20px;

    &:before {
        content: "";
        width: 100%;
        border-bottom: 2px solid $blue;
        position: absolute;
        top: 4px;
    }    
}

/*==================================
MOBILE NAVIGATION (Fullscreen mobile overlay)
==================================*/

.mobile_navigation {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: $blue;
    z-index: 10;
    display: none;
}

/*=== Header within the overlay ===*/

.mobile_navigation_header {
    position: relative;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

/*=== Mobile Vertical Navigation List ===*/

.mobile_navigation .content_container {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

ul.mobile_navigation_list li {
    text-align: center;
    text-transform: uppercase;
    font-family: 'gt_bold', sans-serif;
    font-size: 25px;
    padding: 10px 0px;
    letter-spacing: .1em;

    a {
        color: $white;
    }

    // Adjustments for phone in landscape

    @media all and (max-device-width: 736px) and (orientation: landscape) {
        font-size: 15px;
    }
}

/*=== Mobile Social Icons ===*/

ul.mobile_social_icons {
    text-align: center;
    padding: 20px 0px;
}


ul.mobile_social_icons li {
    display: inline-block;
    padding: 0px 10px;

    a {
        color: $white;
    }
}

// Close Icon

.mobile_navigation .close_icon {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 10;
}

// Mobile Nav Images

img.mobile_collage1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 160px;
}

img.mobile_collage2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 180px;
    z-index: 2;
}

img.mobile_collage3 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    z-index: 1;
}

/*==================================
TOP BANNER
==================================*/

section.top_banner {
    height: 100vh;
    overflow: hidden;
    background-image: none;
    background-size: cover;
    background-position: center;

    @include tablet_landscape {
        background-image: url('../img/header_video_image.png');
    }
}

// Video

.top_banner video {
    min-width: 100%;
    @include tablet {
        display: none;
    }
}

// Content

.top_banner_content_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.top_banner_content {
    text-align: center;
    padding: 0px 20px;
}

.top_banner_content img {
    margin-bottom: 30px;
    max-width: 280px;

    @include mobile {
        margin-bottom: 10px;
    }
}

.top_banner_content p {
    color: $white;
    letter-spacing: .2em;
    margin-bottom: 30px;

    @include mobile {
        margin-bottom: 10px;
    }
}

.top_banner_content h3 {
    color: $white;
}

.top_banner_content button {
    color: #fff;
    border: 1px solid $white;
    background: 0 0;
    font-size: 16px;
    padding: 20px 30px;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-family: 'gt_medium';
    transition: all .3s ease-in-out;

    &:hover {
        background: $white;
        color: $blue;
    }

    @include mobile_landscape {
        font-size: 14px;
        padding: 10px 20px;
    }
}

// Down Arrow

.scroll_down_arrow {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    text-align: center;

    @include mobile {
        bottom: 10px;
    }
}

.scroll_down_arrow img {
    width: 30px;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
        transform: translateY(3px);
    }
}

/*==================================
VIDEO RECAP
==================================*/

section.video_recap {
    position: fixed;
    top: 0;
    z-index: 13;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    display: none;
}

.video_recap_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video_container {
    width: 80%;
}

.video_recap .close_icon {
    position: absolute;
    top: 30px;
    right: 30px;
}

/*==================================
PAST LINEUP
==================================*/

section.past_lineup {
    padding: 200px 30px;
    background-image: url('../img/paper-texture.jpg');
    background-size: cover;
    display: flex;
    flex-flow: row wrap;

    @include tablet {
        padding: 50px 20px;
    }
}

// Lineup List

.past_lineup_content {
    width: 60%;
    text-align: center;

    @include tablet {
        width: 100%;
    }
}

ul.past_lineup_list li {
    font-size: 28px;
    letter-spacing: .1em;
    font-family: 'gt_medium', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    margin: 0px 20px 20px;

    @include large_desktop {
        font-size: 40px;
    }

    @include tablet_landscape {
        font-size: 20px;
        margin: 0px 20px 20px;
    }

    @include mobile_landscape {
        font-size: 16px;
        margin: 0 5px 10px;
    }

    @include mobile {
        font-size: 14px;
        margin: 0 2px 10px;
    }
}

// Images

.lineup_collage {
    width: 20%;

    @include tablet {
        order: 1;
        width: 30%;
        margin: 0 auto;
    }
}

.lineup_collage img {
    width: 100%;
    margin: 50px auto 0;
    display: block;
}

/*==================================
GALLERY
==================================*/

section.gallery {
    position: relative;
}

section.gallery img {
    display: block;
    width: 100%;
}

// View Gallery Link

.gallery_link_container {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
    height: 100%;
}

a.gallery_button {
    background: $white;
    border: 2px solid $blue;
    padding: 20px 50px;
    text-transform: uppercase;
    font-family: 'gt_bold';
    font-size: 16px;
    text-align: center;
    letter-spacing: .1em;
    transition: all .3s ease-in-out;

    &:hover {
        background: $blue;
        color: $white;
    }

    @include mobile_landscape {
        font-size: 14px;
        padding: 10px 30px;
    }
}

/*==================================
ABOUT
==================================*/

section.about {
    padding: 200px 30px;
    background-image: url('../img/paper-texture.jpg');
    background-size: cover;
    text-align: center;
    position: relative;

    @include tablet {
        padding: 50px 20px;
    }
}

.about_container {
    max-width: 600px;
    margin: 0 auto;
    width: 60%;

    @include mobile_landscape {
        width: 90%;
    }
}

section.about p {
    line-height: 30px;
}

// Illustrations

img.about_stars {
    position: absolute;
    left: 80px;
    top: 150px;
    width: 130px;

    @include large_desktop {
        width: 180px
    }

    @include tablet_landscape {
        left: 20px;
        width: 80px;
    }

    @include mobile_landscape {
        left: 10px;
        top: 10px;
        width: 50px;
    }

}

img.about_palmtrees {
    position: absolute;
    left: 80px;
    bottom: 100px;
    width: 150px;

    @include large_desktop {
        width: 180px
    }

    @include tablet_landscape {
        left: 20px;
        width: 100px;
    }

    @include mobile_landscape {
        left: 10px;
        bottom: 10px;
        width: 50px;
    }
}

img.about_seagul {
    position: absolute;
    right: 80px;
    top: 35%;
    width: 100px;

    @include large_desktop {
        width: 160px;
    }

    @include tablet_landscape {
        right: 20px;
        width: 80px;
    }

    @include mobile_landscape {
        right: 10px;
        top: 20px;
        width: 50px;
    }
}

/*==================================
NEWSLETTER
==================================*/

section.newsletter {
    background: $blue;
    color: $white;
    padding: 80px 0px;
    text-align: center;
}

section.newsletter h3 {
    color: $white;
    margin-bottom: 20px;
}

.newsletter_container {
    max-width: 380px;
    width: 85%;
    margin: 0 auto;
}

// Signup Form

form.mc-embedded-subscribe-form {
    position: relative;
}

.mc_embed_signup {
    margin: 0 auto 50px;
}

.mc_embed_signup input[type=submit] {
    position: absolute;
    right: 0;
    background: 0;
    border: 0;
}

.mc_embed_signup input[type="email"] {
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
    width: 100%;
    border-radius: 0;
}

.mc_embed_signup input:focus{
    outline: none;
}

// Credits

section.newsletter p {
    color: $white;
    margin-bottom: 0;
    font-family: 'gt_light';
}

section.newsletter a {
    color: $white;
    margin-bottom: 0;
    font-family: 'gt_bold';

    &:hover {
        color: $lightblue;
    }
}

