$black: #000000;
$white: #ffffff;
$blue: #002973;

$subwaygreen: #3BB341;
$subwayyellow: #F0D038;
$darkblue: #00256D;
$teal: #08bdc6;
$lightblue: #ddeeef;

$lineup_lightblue: #83cddb;
$lineup_orange: #fe8a46;